.wrapper {
    display: flex;
    align-items: center;
    padding: calc(var(--mantine-spacing-xl) * 1); /* Reduced padding from the top */
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-white);
    border: 0px solid var(--mantine-color-gray-3);

    @media (max-width: 768px) {
        flex-direction: column-reverse;
        padding: var(--mantine-spacing-xl);
    }
}
  
.image {
    max-width: 35%;
    margin-left: calc(var(--mantine-spacing-md) - 1); /* Adjust this value as needed */
  
    @media (max-width: 768px) {
        max-width: 100%;
        margin-left: 0; /* Reset margin on smaller screens */
    }
}
  
.body {
    padding-right: calc(var(--mantine-spacing-xl) * 4);

    @media (max-width: 768px) {
        padding-right: 0;
        margin-top: 0;
    }
}
  
.title {
    color: var(--mantine-color-black);
    font-family: Greycliff CF, var(--mantine-font-family);
    line-height: 1;
    margin-bottom: var(--mantine-spacing-md);
    font-size: 60px;
}

.highlight {
    color: var(--mantine-color-blue-6); /* Adjust this to your preferred shade of blue */
}

.featureList {
    margin-top: 10px;
    padding-left: 20px;
    list-style-type: disc; /* Bullet points */
  }
  
  .featureList li {
    margin-bottom: 8px; /* Space between items */
  }
